@import url('https://fonts.googleapis.com/css?family=Tajawal');

html,body{
  font-family: 'Tajawal', sans-serif!important;
}
.wow.animated{
  visibility: hidden;
}
.inline-block{
  display: inline-block;
}
.text-center{
  text-align: center;
}
.navigation li a > i{
  color: #F7630C;
}
.navigation li.active i {
    color: #fff!important;
}
.bg-main-color{
  background-color: #F7630C;
}
.bg-white{
  background-color: #fff;
}
.txt-main-color{
  color: #F7630C;
}
.wt-color{
  color: #fff
}
.page-title i {
    color: #fff;
}
.heading-btn-group a i {
    color: #F7630C!important;
}
.heading-btn-group a:hover{
  color: #F7630C
}
.heading-btn-group a:hover i {
    color: #333!important;
}
ul.dropdown-menu.dropdown-menu-right li a:hover {
    background: #F7630C;
    color: #fff;
}
.breadcrumb > li i{
  color: #F7630C
}
.navigation .navigation-header > span {
    display: block;
    margin-top: 2px;
    color: #F7630C;
    font-size: 14px;
    font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #F7630C
}
.sidebar:not(.sidebar-default) .media .text-muted, .sidebar:not(.sidebar-default) .media .media-annotation {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
.footer.text-muted.text-center a {
    color: #fff;
    font-size: 16px;
}
.footer.text-muted.text-center{
    color: #222325;
    font-size: 16px;
}
.breadcrumb > li > a:hover, .breadcrumb > li > a:focus{
    color: #F7630C
}
.col-sm-6.col-md-3 .panel.panel-body , .panel.panel-flat {
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.panel-flat > .panel-heading > .panel-title {
    color: #fff;
}
.breadcrumb > .active {
    color: #F7630C;
}

 .tooltip-inner {background-color: #F7630C;}
.tooltip.top > .tooltip-arrow {
border-top-color:#F7630C;
}

.label-info {
    border-color: #F7630C;
}
.datatable-header .dt-buttons > .btn:hover {
    background: #F7630C;
    color: #fff;
}
span.label{
  border:0px;
  box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.form-control:focus{
  border-color: #F7630C
}
button[type="submit"].btn{
  background: #F7630C!important;
  border: 0px!important
}
button[type="submit"].btn:hover{
  box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.heading-elements .icons-list li a {
    color: #F7630C;
    margin-left: 10px;
}
.icons-list a[data-action]:after{
  font-size: 20px
}
span.action.btn.bg-pink-400 {
    background: #aaa;
    border: 0px;
}
td.dataTables_empty {
    color: #F7630C;
    font-size: 18px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F7630C;
}
.help-block a{
  color: #F7630C
}
.content-wrapper {
    /*background-image: url(../images/logo-bg.png);*/
    background-position: bottom left;
    background-size: 35%;
    background-repeat: no-repeat;
}
.icon-object.text-warning-400.login-icon-logo {
    width: 130px;
    height: 130px;
    border: 1px solid #F7630C;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(38,166,154,0.4);
}
.content .row .col-sm-6.col-md-3{
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.content .row .col-sm-6.col-md-3:first-child{
  animation-delay: 0s;
}
.content .row .col-sm-6.col-md-3:nth-child(2){
  animation-delay: 0.15s;
}
.content .row .col-sm-6.col-md-3:nth-child(3){
  animation-delay: 0.3s;
}
.content .row .col-sm-6.col-md-3:nth-child(4){
  animation-delay: 0.45s;
}
.content .row .col-sm-6.col-md-3:nth-child(5){
  animation-delay: 0.6s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 0.75s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 0.9s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 1.05s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 1.2s;
}
.content .panel.panel-flat{
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
}
.sidebar-user + .sidebar-category .navigation > li{
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
.sidebar-user + .sidebar-category .navigation > li:first-child{
  animation-delay: 0s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(2){
  animation-delay: 0.05s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(3){
  animation-delay: 0.1s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(4){
  animation-delay: 0.15s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(5){
  animation-delay: 0.2s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(6){
  animation-delay: 0.25s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(7){
  animation-delay: 0.3s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(8){
  animation-delay: 0.35s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(9){
  animation-delay: 0.4s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(10){
  animation-delay: 0.45s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(11){
  animation-delay: 0.5s;
}

.heading-elements .heading-btn-group a{
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.heading-elements .heading-btn-group a:first-child{
  animation-delay: 0.15s;
}
.heading-elements .heading-btn-group a:nth-child(2){
  animation-delay: 0.3s;
}
.heading-elements .heading-btn-group a:nth-child(3){
  animation-delay: 0.45s;
}

.file-type-chart.panel-flat , .file-type-chart.panel-flat > .panel-heading{
  background-color: #fff
}
.dataTables_filter input{
  transition: 0.4s all ease-out;
}
.dataTables_filter input:focus{
  border: 1px solid #F7630C
}
.dataTables_filter > label:after{
  color: #F7630C
}

tr td img{
  border-radius: 50%!important;
  box-shadow: 0px 0px 20px rgba(40,40,40,0.3);
}
.flex-wrap{
  display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
table thead{
  background: #F7630C;
color: #fff;
}
.dataTable thead .sorting:before , .dataTable thead .sorting:after{
  color: #fff
}
.table > thead:first-child > tr:first-child > th {
    box-shadow: 0px 10px 20px -10px rgba(40,40,40,0.4);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td{
  border:0px;
}
table tr td:last-child a {
    color: #fff!important;
    background: #F7630C;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center!important;
    padding: 0!important;
    align-items: center;
    border-radius: 50%;
    transition: 0.4s all ease-in-out

}
table tr td:last-child a i{
  color: #fff!important;
  margin-left: 0!important;
  transition: 0.4s all ease-in-out
}
table tr td:last-child a i.text-danger{
  color: #fff!important;
}
table tr td:last-child a:hover i.text-danger{
  color: #f00!important;
}
table tr td:last-child a:hover{
  box-shadow: 0px 0px 20px rgba(0,60,60,0.2)
}
td a.show-file{
  transition: 0.4s all ease-in-out;
  color: #fff;
}
td a.show-file:hover{
  color: #27A599
}
.label-info{
  background-color: #F7630C!important
}
tbody{
  background-color: rgb(69,90,100);
  color: #fff;
}
.font-c{
    color: #79bbaf;
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body{
  background: #F7630C;
  color: #fff
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body a{
  color: #fff
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body{
  background: #fff;
  color: #F7630C
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body a{
  color: #F7630C
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a{
  transition: 0.4s all ease-out!important
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a:hover{
  color:#263238
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body h3.no-margin{
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hidden {
	display: none;
}

@media(max-width:767px){
  .chart.has-minimum-width , .chart.has-minimum-width svg {
    min-width: unset;
    max-width:100%;
  }
}


table td .btn-primary {
    margin-top: -10px;
    margin-left: 25px
}

.noti-badge {
    min-width: 18px;
    height: 18px;
    background: #fff;
    color: #F7630C;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 50%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.dropdown.notifications-wrapper{
    position: relative;
}
li.dropdown.notifications-wrapper ul.dropdown-menu li {
    padding:5px 10px;
}
li.dropdown.notifications-wrapper ul.dropdown-menu a {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    padding-right: 2px;
    color: #F7630C;
    padding-left: 2px;
}
.dropdown-menu.animated.fadeInUp {
    box-shadow: 0px 0px 25px rgba(255,255,255,0.4);
}
li.read-all-notis a , li.read-all-notis a:hover ,li.read-all-notis a:focus{
       width: 100%!important;
       text-align: center;
       background: #F7630C!important;
       color: #fff!important;
       border-radius: 3px;
   }